code/env_thesis/
.DS_Store
.docs/Tesi/thesis/files/pdfa.xmpi
.docs/Tesi/thesis/files/thesis.acn
.docs/Tesi/thesis/files/thesis.aux
.docs/Tesi/thesis/files/thesis.bbl
.docs/Tesi/thesis/files/thesis.bcf
.docs/Tesi/thesis/files/thesis.blg
.docs/Tesi/thesis/files/thesis.fdb_latexmk
.docs/Tesi/thesis/files/thesis.fls
.docs/Tesi/thesis/files/thesis.glo
.docs/Tesi/thesis/files/thesis.glsdefs
.docs/Tesi/thesis/files/thesis.ist
.docs/Tesi/thesis/files/thesis.lof
.docs/Tesi/thesis/files/thesis.log
.docs/Tesi/thesis/files/thesis.lot
.docs/Tesi/thesis/files/thesis.pdf
.docs/Tesi/thesis/files/thesis.run.xml
.docs/Tesi/thesis/files/thesis.synctex.gz
.docs/Tesi/thesis/files/thesis.toc