code/env_thesis/
.DS_Store
.docs/Tesi/thesis/files/pdfa.xmpi
.docs/Tesi/thesis/files/thesis.acn
.docs/Tesi/thesis/files/thesis.aux
.docs/Tesi/thesis/files/thesis.bbl
.docs/Tesi/thesis/files/thesis.bcf
.docs/Tesi/thesis/files/thesis.blg
.docs/Tesi/thesis/files/thesis.fdb_latexmk
.docs/Tesi/thesis/files/thesis.fls
.docs/Tesi/thesis/files/thesis.glo
.docs/Tesi/thesis/files/thesis.glsdefs
.docs/Tesi/thesis/files/thesis.ist
.docs/Tesi/thesis/files/thesis.lof
.docs/Tesi/thesis/files/thesis.log
.docs/Tesi/thesis/files/thesis.lot
.docs/Tesi/thesis/files/thesis.pdf
.docs/Tesi/thesis/files/thesis.run.xml
.docs/Tesi/thesis/files/thesis.synctex.gz
.docs/Tesi/thesis/files/thesis.toc
code/Malware/variables.env
code/Labeling/variables.env

code/Malware/malware_dataset_bazaar
code/Malware/malware_dataset_malshare
code/Malware/malware_dataset_virushare
code/Malware/malware_dataset_virushare_2024

code/Labeling/report_bazaar
code/Labeling/report_malshare
code/Labeling/report_virushare

code/Labeling/avclass_bazaar
code/Labeling/avclass_malshare
code/Labeling/avclass_virushare

code/Labeling/labels
code/Labeling/counter.py
code/Labeling/remove_spaces.py
code/Malware/check_windows_malware.py
code/Malware/check_files.py

code/Labeling/assembly
code/Labeling/Hex

code/Disassembler/counter.py
code/Disassembler/DecompileAllFunctions.py
code/Disassembler/DecompileAllFunctionsHex.py
code/Labeling/controller.py
code/Disassembler/test.py
code/Labeling/graphs_generator.py
code/Labeling/size_calc.py
code/Labeling/tables.py
code/Xception/
code/Labeling/mnemonic_assembly
code/Greyscale/images

code/TF-IDF/test
code/TF-IDF/mnemonic_assembly
code/Occurrences
code/DiE
code/TF-IDF/mnemonic_hex
code/TF-IDF/mnemonic_assembly_without_empty_files
code/TF-IDF/mnemonic_hex_without_empty_files
code/Greyscale/mnemonic_assembly_without_empty_files 2.5_97.5
mnemonic_assembly_without_empty_files 2.5_97.5
mnemonic_assembly_without_empty_files 5_95
mnemonic_assembly_without_empty_files 10_90
mnemonic_assembly_without_empty_files 20_80
code/TF-IDF/mnemonic_hex_without_empty_files copy
code/Greyscale/prova
code/TF-IDF/mnemonic_hex_without_empty_files not percentile
code/TF-IDF/mnemonic_hex_without_empty_files 10_90code/TF-IDF/mnemonic_hex_without_empty_files 5_95
code/TF-IDF/mnemonic_assembly_without_empty_files not percentile
code/TF-IDF/mnemonic_hex_without_empty_files 2.5_97.5
code/TF-IDF/mnemonic_hex_without_empty_files 5_95
code/TF-IDF/mnemonic_hex_without_empty_files 10_90
code/TF-IDF/mnemonic_hex_without_empty_files 20_80
code/TF-IDF/mnemonic_assembly_without_empty_files copy


code/Images/test
code/Images/mnemonic_assembly_superfamily
code/Images/mnemonic_hex_superfamily
code/Images/16x16_grayscale_images
code/Images/16x16_grayscale_images_hex
code/Images/16x16_matrix
code/Images/16x16_matrix_hex
code/Images/output_mnemonics
code/Images/output_mnemonics_hex

code/TRASH

code/GAN/CNN/1
code/GAN/CNN/2
code/GAN/CNN/4
code/GAN/CNN/5

code/GAN/MalGAN/blackbox1
code/GAN/MalGAN/discriminator
code/GAN/MalGAN/discriminator1
code/GAN/MalGAN/logs
code/GAN/MalGAN/performance_graphs
code/GAN/MalGAN/remove.py
code/GAN/MalGAN/test_true_images.py
code/GAN/MalGAN/missed.txt


code/Images
code/TF-IDF/tfidf_table_main_assembly.csv
code/TF-IDF/tfidf_table_main_hex.csv
code/TF-IDF/sorted_principal_component_coefficients_hex.txt
code/TF-IDF/principal_component_coefficients_hex.txt
code/TF-IDF/principal_component_coefficients.txt
code/TF-IDF/sorted_principal_component_coefficients_filtered_0_001.txt
code/TF-IDF/sorted_principal_component_coefficients_filtered_0001_hex.txt
code/TF-IDF/sorted_principal_component_coefficients.txt
code/TF-IDF/coefficients_0_001_rows.csv
code/TF-IDF/coefficients_0_001_rows_hex.csv
code/TF-IDF/filtered_assembly_summary.txt
code/TF-IDF/filtered_hex_summary.txt